
/* Override default button hover effects */
.btn,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  transition: none !important;
}

button:hover,
.btn:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  transform: none !important;
  box-shadow: none !important;
}
